<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="CoPassword" value="https://4tecture.pkgs.visualstudio.com/_packaging/CoPassword/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <CoPassword>
      <add key="Username" value="PAT" />
      <add key="ClearTextPassword" value="cbesdjc33z7qe3pmvyyqz7pdyal5p7jheeiyg6dn6azim7qlheqq" />
    </CoPassword>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>