<div class="row" style="margin-bottom:50px">
    <div class="col-md-12">
        <h2>DevFun Container Demo</h2>
    </div>
</div>
<div class="row" style="font-size:20pt">
    <div class="col-md-4">
        <label>Environment</label>
    </div>
    <div class="col-md-8">
        <span>@ViewData["DeploymentEnvironment"]</span>
    </div>
</div>
<div class="row" style="font-size:20pt">
    <div class="col-md-4">
        <label>Host</label>
    </div>
    <div class="col-md-8">
        <span>@Environment.MachineName</span>
    </div>
</div>