@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    4tecture GmbH<br />
    Aathalstrasse 84<br />
    CH-8610 Uster<br />
    +41 44 508 37 00<br />
</address>

<address>
    <strong>Web:</strong> <a href="http://www.4tecture.ch">www.4tecture.ch</a><br />
    <strong>E-Mail:</strong> <a href="mailto:info@4tecture.ch">info@4tecture.ch</a>
</address>
